<footer class="mt-auto text-white-50 mt-0 pt-0">
    <p>Jeison Iglesias <a href="https://getbootstrap.com/" class="text-white">GitHub</a></a>.</p>
</footer>
<script src="dist/js/bootstrap.bundle.min.js"></script>