<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .image-upload>input {
        display: none;
      }

      .img-form {
        border-radius: 50em;
        height: 200px;
        width: 200px;
        /*   max-height: 40vh; max-width: 40vh; */

      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

  <div class=" cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('../partials/header'); %>
      <main class="container-sm px-4 py-4 text-center">
        <form>
          <%- include('../users/form-user'); %>
        </form>

      </main>


      <footer class="mt-auto text-white-50">
        <%- include('../partials/footer'); %>
      </footer>
  </div>

</body>

</html>