<!doctype html>
<html lang="en">

<head>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <%- include('../partials/head'); %>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('../partials/header'); %>

      <main class="form-signin">
        <form>
          <img class="mb-4" src="brand/bootstrap-logo.svg" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
         
          <div class="form-floating">
            <input type="email" class="form-control" id="input-email" placeholder="name@example.com">
            <label for="input-email" class="text-secondary">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="input-pass" placeholder="Password">
            <label for="input-pass" class="text-secondary">Password</label>
          </div>


          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
      </main>

      <footer class="mt-auto text-white-50">
        <%- include('../partials/footer'); %>
      </footer>
  </div>
</body>

</html>